body {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #34495e;
  background-color: #ffffff;
}

.progress {
	background-color: #3F3F3F;
}
#autosave {
	font-size: 14px;
}

#personList {
	font-size: 14px;
}

#cLog {
	border: none;
}

#timeleft {
	font-size: 18px;
}

#rightBlock {
}
#clBlock {
	margin-right: 30px;
}

#header {
	font-family: "Helvetica";
	font-size: 32px;
	widght: 100%; 
	color: #000000;
	border-bottom: 2px;
	border-bottom-style: ridge;
	border-bottom-color: #000000;
	box-sizing: border-box;
}

#counters {
	color: #000000;
	font-size: 24px;
	width: 100%;
	border-bottom: 1px;
	border-right: 2px;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-bottom-color: #000000;
	box-sizing: border-box;
}

/*#timeLeftBlock {
	border-bottom: 1px;
	border-bottom-style: ridge;
	border-bottom-color: #000000;
	box-sizing: border-box;
}
*/
#buyKeke {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyJane {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyBasta {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyCali {
	background: none;
	border: none;
	float: left;
}

#buyOleg {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyKan {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyKolbas {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyVasay {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyViet {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#buyErni {
	background: none;
	border: none;
	display: inline-block;
	float: left;
}

#textA {
	float:right;
}


#updC {
	max-width: 10px;
}

#person {
	width: 1%;
}

.upgBtn {
	display: none;
}

#upgB1 {
	background: none;
	border: none;
	float:right;
}


#upgB2 {
	font-size: 12px;
	background: none;
	border: none;
	float:right;
}

#upgB3 {
	font-size: 12px;
	background: none;
	border: none;
	float:right;
}

#upgB4 {
	font-size: 12px;
	background: none;
	border: none;
	float:right;
}

#upgB5 {
	background: none;
	border: none;
	float:right;
}

#upgB6 {
	background: none;
	border: none;
	float:right;
}

#upgB7 {
	background: none;
	border: none;
	float:right;
}

#upgB8 {
	background: none;
	border: none;
	float:right;
}

#upgB9 {
	background: none;
	border: none;
	float:right;
}

#upgB10 {
	background: none;
	border: none;
	float:right;
}

#memeBtn {
	margin-left: 20px;
	display: inline-block;
}

#nxtLvl {
	float: right;
	font-size: 18px;
	color: white;
	background-color: #00FF00;
}
#nxtLvl:disabled {
	filter: alpha(opacity=15);
  opacity: .15;
}

#memeClick {
		float:left;
		padding: 10px 10px;
		margin-left: 30%;
		background-color: #41bbf4;
		border: 1px solid #4197f4;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
}

#persons {

}

.costEf{
	font-size:12px;
}

.btn-bonus {
	font-size: 12px;
}
.lvl2 {
	
}

#SaveLoadBtn {
		float: left;
		background-color: #4CAF50; /* Green */
		border: 1px solid black;
		color: white;
		margin-left: 48%;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
}
#removeSaveBtn {
		background-color: #f44e42; 
		border: 1px solid black;
		color: white;
		margin-left: 45%;
		text-align: center;
		
		text-decoration: none;
		font-size: 16px;
}

#lvl {
	color: rgb(211, 0, 0);
}

#memes {
	color: rgb(211, 0, 0);
}


#upg {
	color: rgb(211, 0, 0);
}

#pepe {
	float: left;
}