body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #34495e;
  background-color: #ffffff;
}

#header {
	font-family: "Helvetica";
	font-size: 24px;
	color: #000000;
    height: 100px;
	border-bottom: 2px;
	border-bottom-style: ridge;
	border-bottom-color: #000000;
	box-sizing: border-box;
}

#counters {
	display: block;
	color: #000000;
	font-size: 32px;
	height: 50px;
	border-bottom: 1px;
	border-bottom-style: ridge;
	border-bottom-color: #000000;
	box-sizing: border-box;
}
#buyKeke1 {
	background: none;
	border: none;
	width: 10%;
	display: inline-block;
}
#memeBtn {

}

#memeClick {
		float: left;
		background-color: #41bbf4;
		border: 1px solid #4197f4;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 24px;
}

#persons {

}

#SaveLoadBtn {
		float: left;
		background-color: #4CAF50; /* Green */
		border: 1px solid black;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
}
#removeSaveBtn {
		background-color: #f44e42; 
		border: 1px solid black;
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
}