body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #34495e;
  background-color: #ffffff;
}

#header {
	font-family: "Helvetica";
	font-size: 24px;
	color: #000000;
}